<!DOCTYPE html>
<head>
  <title>sucess page</title>
  <meta charset="Utf-8" />
  <meta name="viewport" content="width=device-width , initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <nav class="navbar">
    <div class="nav-links">
      <a href="/users/signin" class="btn">Sign In</a>
      <a href="/welcome" class="btn">Home</a>
    </div>
  </nav>
  <div class="success-container">
    <h1 class="success-message">
      Congratulations <%= username %>!!! you have successfully Registered!!!
    </h1>
  </div>
</body>
